@media only screen and (max-width: 1024px) {

/*---------------------- Navigationbar ---------------------*/
    .logo-txt h1 {
        font-size: 20px; 
    }
    
    .logo-txt h2 {
        font-size: 18px; 
    }

    .right-side-menu-bar ul li a {
        font-size: 18px; 
    }
    
    label #close-btn, label #bars-btn {
        font-size: 16px; 
    }

/*---------------------- Main Background ---------------------*/

    .main-links h1{
        font-size: 20px;
    }
    
    .main-links h2{
        font-size: 15px;
    }

/*---------------------- Student Video -----------------------*/

    .student-video h1{
        font-size: 40px;
    }


/*------------------------- Degrees --------------------------*/
    .bk-image .campus-image {
        height: 160vh;
    }

    .degrees h1{
        font-size: 40px;
    }

    .degrees h3{
        font-size: 28px;
    }

    .row {
        margin: 30px 40px 20px 40px;
    }

/*---------------Announcements, News & Events----------------*/

/*-------------------------Footer----------------------------*/
    .logo-footer img {
        padding-top: 20px;
    }

    .left-column {
        width: 30%;
        padding: 40px;
    }
    .left-column h2 {
        font-size: 18px;
    }

    .s-media a{
        font-size: 20px;
    }

}



@media only screen and (max-width: 768px) {

/*-----------------------Navigationbar----------------------*/
    .logo-txt h1 {
        font-size: 18px; 
    }
    
    .logo-txt h2 {
        font-size: 16px; 
    }

    .logo-txt ul li{
        padding: 4px 6px;
    }

    .logo-txt ul li a{
        font-size: 14px; 
    }

/*---------------------- Student Video -----------------------*/
    .student-video {
        height: 100vh;
        width: 100%;
        text-align: center;
    }

    .container video {
        float: none;
        padding: 70px;
        padding-bottom: 20px;
        width: 90%;
    }

    .student-video h3{
        padding: 10px;
        font-size: 20px;
    }

    .student-video h1{
        padding: 20px;
        font-size: 30px;
    }

/*------------------------- Degrees --------------------------*/
    .bk-image .campus-image {
        height: 220vh;
    }

    .degrees h1{
        font-size: 40px;
    }

    .degrees h3{
        font-size: 28px;
    }

    .row {
        margin: 30px 75px 20px 75px;
        width: 30%;
    }

/*---------------Announcements, News & Events----------------*/
    .wrapper{
        width: 70%;
        margin: 100px auto;
    }

    .wrapper h1{
        margin: 30px 0 20px 0;
        font-size: 30px;
    }

    .wrapper li{
        padding: 30px 10px;
        font-size: 20px;
    }


/*-------------------------Footer----------------------------*/
    .logo-footer img {
        margin: 10px;
        margin-left: 40px;
        width: 80px;
    }


    .logo-footer img {
        padding-top: 20px;
    }

    .left-column {
        width: 30%;
        padding: 20px;
        padding-top: 30px;
    }
    .left-column h2 {
        font-size: 15px;
    }

    .s-media a{
        font-size: 18px;
    }

    .right-column {
        float: right;
        padding: 10px;
        margin: 0px auto;
    }

    .right-column h3 {
        font-size: 20px;
    }



}


