* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    position: fixed;
    top:0px;
    line-height: 80px;
    width: 100%;
    background-color: #CAD3C8;
    overflow: hidden;
    background-color: rgb(202, 211, 200, 1);
    box-shadow: 4px 10px 10px #F8EFBA;
    z-index: 1;
}

.logo {
    display: flex;
    margin-top: 0px;
    float: left;
    margin-left: 5%;
    font-weight: bold;
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.logo img {
    width: 100px;
}

.right-side-menu-bar {
    position: fixed;
    width: 250px;
    background-color: #CAD3C8;
    height: 100%;
}

.right-side-menu-bar ul {
    margin-right: 20px;
}

.right-side-menu-bar ul li {
    margin: 0 10px;
}

.right-side-menu-bar ul li a {
    color: black;;
    padding: 7px 15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    line-height: 60px;
}

.checkbtn-open {
    color: white;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.checkbtn-close {
    color: white;
    float: right;
    margin-top: 20px;
    display: none;
}

#check-box {
    display: none;
}

label #bars-btn, label #close-btn {
    background: black;
    border-radius: 3px;
}



label #bars-btn {
    padding: 6px 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

label #close-btn {
    padding: 6px 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#check-box:checked ~ label #bars-btn {
    display: none;
}

@media only screen and (max-width: 380px) {
    .logo {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .logo-txt {
        padding-top: 35px;
        line-height: 20px;
        font-size: 15px; 
        text-align: center;
        text-transform: uppercase;
    }
    
    .logo img {
        width: 50px;
    }

    .logo-txt h1 {
        font-size: 15px; 
    }

    .logo-txt h2 {
        font-size: 12px; 
    }
    
    .right-side-menu-bar {
        margin-top: 5px;
        width: 100%;
        left: 100%;
        transition: all 0.5s;
        text-align: center;
    }

    .right-side-menu-bar ul {
        display: block;
    }

    nav .right-side-menu-bar ul li a {
        display: block;
        font-size: 15px;
        padding: 0px 0px;
    }

   #check-box:checked ~ .right-side-menu-bar {
        left: 0%;
    }

    .checkbtn-close {
        display: none;
    }

    #check-box:checked ~ .checkbtn-close {
        display: block;
        margin-right: 0px;
    }
}


@media only screen and (min-width: 425px) {
    .logo {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .logo-txt {
        padding-top: 35px;
        line-height: 20px;
        font-size: 15px; 
        text-align: center;
        text-transform: uppercase;
    }
    
    .logo img {
        width: 50px;
    }

    .logo-txt h1 {
        font-size: 15px; 
    }

    .logo-txt h2 {
        font-size: 12px; 
    }
    
    .right-side-menu-bar {
        margin-top: 25px;
        width: 100%;
        left: 100%;
        transition: all 0.5s;
        text-align: center;
    }

    .right-side-menu-bar ul {
        display: block;
    }

    nav .right-side-menu-bar ul li a {
        display: block;
        font-size: 15px;
        padding: 0px 0px;
    }

   #check-box:checked ~ .right-side-menu-bar {
        left: 0%;
    }

    .checkbtn-close {
        display: none;
    }

    #check-box:checked ~ .checkbtn-close {
        display: block;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .right-side-menu-bar {
        margin-top: 25px;
        left: 100%;
        float: right;
    }


    .logo-txt h1 {
        font-size: 22px; 
    }

    .logo-txt h2 {
        font-size: 20px; 
    }

    .logo img {
        width: 75px;
    }
}

@media only screen and (min-width: 1040px) {
    .logo {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .checkbtn-open {
        color: white;
        float: right;
        height:2px;
        margin-top: 20px;
        margin-right: 20px;
    }
    
    .checkbtn-close {
        color: white;
        float: right;
        margin-top: 20px;
        display: none;
    }

    .logo-txt {
        padding-top: 35px;
        line-height: 40px;
        font-size: 15px; 
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .logo img {
        width: 80px;
    }

    .logo-txt h1 {
        font-size: 22px; 
    }

    .logo-txt h2 {
        font-size: 20px; 
    }

    .right-side-menu-bar {
        margin-top: 17px;
        left: 100%;
        float: right;
    }

    nav .right-side-menu-bar ul li a {
        display: block;
        font-size: 20px;
        padding: 0px 0px;
    }

    #check-box:checked ~ .right-side-menu-bar {
        left: 0%;
    }
}
/*----------------- Background ------------------*/

.background {
    top: 0;
    background-image: url(Images/backgroundpic.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.study-overview {
    position: relative;
    text-align: center;
}

.study-overview h1{
    position: absolute;
    bottom: 180px;
    left: 60px;
    font-size: 50px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-position: under;
}

.study-overview a{
    position: absolute;
    bottom: 120px;
    left: 60px;
    font-size: 25px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

/*----------------- Student Video ------------------*/

.student-video {
    height: 100vh;
    width: 100%;
}

.container video {
    padding: 120px;
    float: right;
    width: 70%;
}

.student-video h3{
    position: relative;
    padding: 200px 30px 0px 70px;
    font-size: 30px;
    color: black;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.student-video h1{
    position: relative;
    padding-left: 70px;
    font-size: 50px;
    color: black;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.student-video h1 span{
    background-color: #F8EFBA;
}

/*----------------- Campus ------------------*/

.campus {
    background-size: cover;
    background-repeat: no-repeat;
}

.campus-image img{
    height: 100vh;
    width: 100%;
    opacity: 0.5;
}

/*----------------- Degrees ------------------*/

.container-degrees h1{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container-degrees h3{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}

.container-degrees {
    width: 800px;
    margin: 50px auto 0;
    display: table;
}

.row {
    margin: 10px 0;
}

.col {
    display: table-cell;
    padding: 10px;
    background: #ccc;
    width: 33.33333%;
    text-align: center;
    vertical-align: middle;
    border-right: 10px solid black;
}